<span class="step-links"  >
    {% if page_obj.has_previous %}
        <a href="?page=1?area2={{area}}">&laquo; first</a>
        <a href="?page={{ page_obj.number-1}}?area={{area}}">  --previous  </a>
    {% endif %}