{% extends "skeleton.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href='{{url_for("static", filename="css/quill.snow.css") }}' rel="stylesheet" />
{% endblock %}

{% block body %}
<p> this is the quill page</p>
{% endblock %}