<!--
Source - https://stackoverflow.com/q
Posted by AlarmClockMan
Retrieved 2026-01-22, License - CC BY-SA 4.0
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
</head>
<body>
    {{ random.randrange(0, 5) }}
    {% block body %}
        
    {% endblock %}
</body>
</html>
